$bg: #282828;
$bg2: #3c3836;
$popup-bg: #32302f;
$primary: #458588;
$highlight: #83a598;

$gray: #928374;
$red: #fb4934;
$orange: #fe8019;

window {
    background-color: rgba(0, 0, 0, 0);
}

button {
    background-color: $primary;
}

.bg {
    background-color: $bg;
    border-radius: 24px;
}

.popup-bg {
    background-color: $popup-bg;
    border-radius: 24px;
}

.bar {
    padding-left: 5px;
    padding-right: 5px;
}

.bar-container {
    background-color: $bg;
    border-width: 1px;
    border-style: solid;
    border-color: $bg2;
    border-top-style: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.time {
    padding-left: 8px;
    padding-right: 8px;
}

.bar-music {
    padding-right: 8px;
}

.workspaces {
    padding: 5px;
}

.workspace-button {
    border-radius: 8px;
    padding: 0px;
    min-width: 24px;
    min-height: 24px;
}

.workspace-button-active {
    background-color: $highlight;
}



.overlay {
    background-color: rgba(0, 0, 0, 0.2);
}



.overlay-shutdown-icon {
    color: $red;
}

.overlay-shutdown-confirmation {
    margin: 20px;
}

.overlay-reboot-icon {
    color: $orange;
}

.overlay-reboot-confirmation {
    margin: 20px;
}



.full-music {
    margin: 20px;
}

.full-music-time {
    color: $gray;
}

.bar-music-art {
    border-bottom-left-radius: 8px;
    min-height: 34px;
    min-width: 34px;
    background-position: center;
    background-size: cover;
}

.full-music-art {
    border-radius: 8px;
    min-height: 140px;
    min-width: 140px;
    background-position: center;
    background-size: cover;
}

.full-music-scroll {
    margin: 8px;
}

.full-music-scroll highlight {
    color: #111;
    background-color: $primary;
    background-image: none;
}

.full-music-scroll slider {
    background-color: $primary;
    box-shadow: 0 0 0 2px $highlight inset
}

.full-music-title {
    font-size: 24px;
}

.full-music-artist {
    font-size: 16px;
}
